[2020-06-27 03:09] troseman opened #1 "Add documentation to the README.md file."
Getting a 404 from https://blog.lando.dev/2020/06/02/lando-drupal-contributions/

[2020-06-27 03:10] troseman commented on #1
sorry, just saw on youtube that you're going to post it later. thanks for the tools!

[2020-06-30 14:27] serundeputy commented on #1
@troseman fyi published: https://blog.lando.dev/2020/06/30/lando-drupal-contributions/

thanks for checking out these tools!

[2020-07-06 10:17] gitressa commented on #1
Thanks @serundeputy, this is a great help! I have added it to the [Running PHPUnit tests](
https://www.drupal.org/docs/testing/phpunit-in-drupal/running-phpunit-tests#s-lando-drupal-contributions) page.

I wonder if the documentation in https://blog.lando.dev/2020/06/30/lando-drupal-contributions/ should get inserted in the project [README.md](https://github.com/thinktandem/drupal-contributions/bl

[2020-07-06 12:36] serundeputy commented on #1
Thanks @gitressa.

I agree that there should be some documentation in the README.md. I have not found the time. You up for a PR?

[2020-07-06 12:47] gitressa commented on #1
Sure. I think more or less just using the source code from the awesome blog post would work fine, or what do you think? If you agree, I can clean it up (mostly the "Rebuild" part mark-up) and make a PR?

<div class="content__default"><h2 id="why"><a href="#why" aria-hidden="true" class="header-anchor">#</a> Why?</h2> <p>Setting up, testing, and writing Drupal patches can be a confusing gauntlet to

[2020-07-06 12:49] serundeputy commented on #1
@gitressa yep. Go for it!

[2020-07-06 17:24] gitressa commented on #1
@serundeputy I have created a PR which updates the README: #3. @benjifisher's recent improvements in #2 should probably be added also, but this is a start.

[2020-07-06 17:53] serundeputy commented on #1
thanks @gitressa nice improvement!

merged https://github.com/thinktandem/drupal-contributions/pull/3

[2020-07-06 17:53] #1 closed

[2020-07-06 18:03] gitressa commented on #1
Awesome, thanks @serundeputy!

[2020-07-10 18:23] serundeputy opened #5 "Add support for Drupal 9."
I think w/ @benjifisher 's improvements we can pass in a branch for the git clone so maybe that is sufficient, but we may need to tweak the `.lando.yml` file as well.

Let's test that out and see if we can make it work for Drupal 8 and 9.

[2020-07-10 18:24] serundeputy opened #6 "Add support for contrib projects."
It would be nice to pass in a project name as an argument (default to drupal) and if say the project is passed in as `paragraphs` then it clones down the paragraphs module from source and puts it in `modules/contrib` enables it and sets up for the patch workflow.

[2020-07-18 13:33] ptmkenny opened #7 "Fix " ERROR: PHPUnit testing framework version 7 or greater is required when running on PHP 7.3 or greater.""
Ran git clone, `lando rebuild`, and then `lando test --module file` to get this error:

`  ERROR: PHPUnit testing framework version 7 or greater is required when running on PHP 7.3 or greater. Run the command 'composer run-script drupal-phpunit-upgrade' in order to fix this.
`

It seems easy enough to fix since it gives you the command, but for whatever reason, lando is handling it really slow and

[2020-07-25 16:40] codebymikey commented on #6
That's a good idea, I think https://github.com/joachim-n/dorgflow is also an interesting project to potentially integrate for working with Drupal patches.

https://github.com/mglaman/drupalorg-cli is also interesting, but wasn't as flexible from my tests. I found it while looking into how certain [project release notes](https://glamanate.com/blog/creating-better-drupal-module-release-notes) were g

[2020-07-29 15:40] danflanagan8 commented on #5
Great repo!

Here's what I did to make this install a D9 site.

1. Change `$drupalBranch` to `9.0.x` in `/config/drupal-branch.php`
2. Replace any instance of `drupal8` in the `scripts` directory with `drupal9` (just a find/replace)
3. In `.lando.yml` change the recipe to `drupal9`

I'm not 100% sure that all of that is _required_, but it works!

[2020-07-31 08:38] sbt2486 commented on #7
It worked for me. However, it seems like it would make sense to add this `composer run-script drupal-phpunit-upgrade` to the `.lando.yml` as abuild step? Or what do you think maintainers?

[2020-07-31 12:43] serundeputy commented on #7
I think it is fine to add it as a build step. Is there an upstream Drupal issue to update PHPUnit in Drupal?

[2020-07-31 12:45] serundeputy commented on #7
Looks like this is the Drupal issue: https://www.drupal.org/project/drupal/issues/3099061

@sbt2486 if you are up for a PR let's add it as a build step; then we can take it out once the Drupal issue is resolved.

[2020-08-01 05:58] sbt2486 commented on #7
@serundeputy thanks for the feedback and finding the related issue on d.o . I created the corresponding PR as you can see above.

[2020-08-01 13:33] serundeputy commented on #7
Thanks @ptmkenny and @sbt2486 merged https://github.com/thinktandem/drupal-contributions/pull/8

[2020-08-01 13:33] #7 closed

[2020-08-08 08:58] gitressa commented on #6
I forgot to check existing issues, and just created #9 ... perhaps it can get added for now, and removed when this issue is resolved, and contrib projects are supported?

[2020-08-08 18:52] gitressa opened #10 "Drush 10 and Admin Toolbar?"
It looks like Drush version is 8.3.5 ... would it be possible to upgrade this to Drush 10, to get commands like `drush config:status`  and `drush config:export --diff` to work? Also, perhaps adding and enabling `drupal/admin_toolbar` could be considered, to speed things up?

[2020-08-11 12:00] sembrat commented on #5
First, thanks for this helper tool and codebase. It's so helpful to have this stand-up an environment for testing.

Per https://github.com/thinktandem/drupal-contributions/issues/5#issuecomment-665740258 , would there be an opportunity to implement a variable instantiation and replacement of `drupal8` into `config/drupal-branch.php` or within the `rebuild.sh` script?

[2020-08-11 13:07] serundeputy commented on #5
@sembrat @danflanagan8 we could make `8.x` and `9.x` branches in this repo w/ the appropos things.

anyone up for a PR?

[2020-08-11 13:35] serundeputy commented on #5
maybe a `10.x` branch could be useful too

[2020-08-11 13:41] sembrat commented on #5
Happy to take a first pass at both.

[2020-08-11 13:52] serundeputy commented on #10
I'm not up to date on what versions of drush work with what versions of drupal but if we get the 9.x and 10.x branches i'm assuming they will pick up drush 10.

If you want drush 10 with drupal8 i think you can load a site local drush in your composer steps in the .lando.yml file.

[2020-08-11 14:07] gitressa commented on #10
Drush 10 works with Drupal 8.4+ (Apr 2018) and Drupal 9: https://www.drush.org/install/#drupal-compatibility
I don't think Drush 9 is of any interest, since it became EOL in May 2020.

Drush 8 is mainly for Drupal 7, and "happens to work" with Drupal 8.

[2020-08-11 14:11] serundeputy commented on #10
maybe we should add a site local drush to this project via composer?

[2020-08-11 16:40] gitressa commented on #10
I think adding Drush 10 via Composer would make sense.

[2020-08-11 16:42] serundeputy commented on #10
up for a PR and we can test it out?

[2020-08-11 16:48] sembrat commented on #5
I suppose we can hold a `10.x` branch for when there's a `drupal10` lando recipe? https://docs.lando.dev/config/drupal9.html#getting-started

[2020-08-11 21:10] gitressa commented on #10
Sure! I have created a PR to add Drush.

[2020-08-11 21:13] gitressa commented on #10
Would it make sense to also add `drupal/core-dev` at some point? In that case, we could do it like this in stead, adding this in `scripts/get-drupal.php`:

[code]

[2020-08-12 13:24] serundeputy commented on #10
Merged in https://github.com/thinktandem/drupal-contributions/pull/12 thanks for that!

I'm not sure about switching to `composer require drupal/core-dev:$drupalBranch` is that a know development pattern for Drupal core? I don't see any reference to it here: https://www.drupal.org/project/drupal/git-instructions

[2020-08-12 13:24] #10 closed

[2020-08-12 14:05] serundeputy commented on #5
thanks @sembrat and @danflanagan8 !

This work is available on the new `9.x` branch: https://github.com/thinktandem/drupal-contributions/tree/9.x

[2020-08-12 14:05] #5 closed

[2020-08-12 16:07] gitressa commented on #10
Great, thanks!

I am note sure about `drupal/core-dev` ... perhaps it's not needed, and baked into the https://git.drupalcode.org/project/drupal.git repo? ... the documentation is a bit vague: [Improve documentation and findability for Drupal core development page](https://www.drupal.org/project/drupalorg/issues/3101272). Anyway, it's ready here, if it is ever needed :-)

[2020-08-13 10:54] gitressa opened #14 "Is PHPUnit used to run tests?"
It says on the [Running PHPUnit tests](https://www.drupal.org/docs/automated-testing/phpunit-in-drupal/running-phpunit-tests) documentation page that:

When I run PHPUnit in another environment it starts out printing `PHPUnit 7.5.20 by Sebastian Bergmann and contributors.
` at the top, but not here ... so I just want to check if PHPUnit is used to run the tests in Drupal Contributions?

[2020-08-13 12:57] serundeputy commented on #14
To run PHPUnit tests run `lando phpunit <blah>`: https://github.com/thinktandem/drupal-contributions/blob/8.x/.lando.yml#L53

To run simpletests run `lando test <blah>`: https://github.com/thinktandem/drupal-contributions/blob/8.x/.lando.yml#L59

[2020-08-14 11:36] gitressa commented on #14
Thanks! I got the PHPUnit tests running with this:

Single test
`lando phpunit web/core/modules/big_pipe/tests/src/Functional/BigPipeTest.php`

All tests
`lando phpunit web/core/modules/big_pipe`

I see there are two phpunit.xml files, is that intentional, or can they be consolidated into one file?
https://github.com/thinktandem/drupal-contributions/blob/8.x/phpunit.xml
https://github.com/thinktan

[2020-08-15 14:39] serundeputy commented on #14
I think one is the one that is used and one is the default `phpunit.xml` file; we can either consolidate or rename on `default.phpunit.xml` probably consolidate is best.

[2020-08-15 16:56] gitressa commented on #14
PHPUnit is using `/config/phpunit.xml`, whereas `/phpunit.xml` doesn't seem to be used ... If I run `lando test --file <blah>` it runs fine, even if I delete both of them. So perhaps `/phpunit.xml` can be outright deleted?

[2020-09-07 10:31] gitressa opened #16 "PHPUnit parameters"
It would be great to be able to use [PHPUnit parameters](https://www.drupal.org/docs/automated-testing/phpunit-in-drupal/running-phpunit-tests#s-run-groups-of-tests) like `--list-groups` and `--group Groupname` to run individual tests, which currently don't seem to work.

Since updating the paths in `phpunit.xml` might fix this, perhaps this blog post can be an inspiration? [My PHPUnit configurati

[2020-09-11 12:04] lukewhitmore opened #17 "Xdebug"
Wondering what the best way to use this with xdebug is?

I've tried enabling xdebug via the config section in the `.lando.yml` file.

It seems that xdebug will fire, but the debugger is trying to interpret 'standard input code'

[2020-09-11 12:44] serundeputy commented on #17
yes; `xdebug` should work in the `config` section:

[code]

I use it in conjunction w/ Vdebug and works great! Config for your editor might be different. Here is Vdebug: https://github.com/serundeputy/gffNeovim/blob/999b47157749ed9e8502ebba99b6471ad23fab68/gff.init.vim#L182

[2020-09-11 12:46] serundeputy commented on #16
I haven't had time to look into this @gitressa :( ... maybe if you could try some of the things in the blog post as they relate to this project and paste your inputs and outputs of your experiments here we can develop a course of action?

thanks for looking into it!

[2020-09-11 15:45] gitressa commented on #14
Can `/phpunit.xml` be deleted?

[2020-09-11 15:47] gitressa commented on #16
Sure, I'll try to experiment a bit :-) But it would be great to determine in #14 if one of the two `phpunit.xml` files can be removed, to simplify things.

[2020-09-11 16:14] serundeputy commented on #16
maybe whilst you experiment remove one or both and see what happens.

[2020-10-03 16:43] gitressa commented on #16
I got it working, removing the `/config/phpunit.xml` file, and using the `phpunit.xml` in root, see #20.

[code]

[2020-10-03 16:44] gitressa commented on #14
Pull request created in #20.

[2020-10-09 18:09] serundeputy commented on #16
#20 is merged; thanks @gitressa anything left here or ok to close?

[2020-10-09 19:00] gitressa commented on #16
No, I think that's it, thanks! I'll have a look at adding examples to README.md and drupal 9 later.

[2020-10-09 19:22] gitressa commented on #14
The #20 MR has been merged, which also removed the `/config/phpunit.xml`, file so closing this issue.

[2020-10-09 19:22] #14 closed, assigned to nobody

[2020-10-21 22:13] gitressa opened #22 "Flesh out patch creation in detail"
I get a lot of content in my patch file, if I try to create a simple patch, containing way too many changes. It would be great if the exact steps to create a patch could be spelled out: https://github.com/thinktandem/drupal-contributions/#creating-a-patch

[2020-10-26 15:00] serundeputy commented on #22
thanks @gitressa this video https://youtu.be/vVpKCQZKNtM?t=982 shows how to create a patch; i'd have to look, but I think it is `lando create-patch` command.

If that suits your needs maybe you can file a PR against the README.md that details the steps in the vid, if not we can flesh something out.  For me it is just a matter of finding time for it.

[2020-10-26 15:22] gitressa commented on #22
Thanks for the reply @serundeputy, but that bit shows how to apply a patch, not how to create it ... I already tried the `lando create-patch`, but way too many changes are included. Sorry if I weren't too clear about that.

So basically, a list of the minimum required commands to create a patch would be awesome. Perhaps we can try to find them in this issue, and then I can create a PR afterwards?

[2020-10-27 15:56] gitressa commented on #22
For example, if I do this:
[code]

Checking Git status, it seems like there are changes:
[code]

Create a branch, update a core file, and create the patch:
[code]

I would expect a 358 bytes small patch file called `987654-patch-testing.patch`, with this content:
[code]

But in stead a 140.8 kB file is created ... which makes sense, since `composer.json`, `composer.lock`, `.gitignore`, etc. were m

[2020-10-27 19:41] serundeputy commented on #22
thanks @gitressa I understand now.

This function https://github.com/thinktandem/drupal-contributions/blob/8.x/scripts/patch-helpers.php#L69 is trying to do too much. We should remove the `git add -A` part from the `createPatch()` function.

[2020-10-27 20:43] gitressa commented on #22
Thanks for looking it over @serundeputy. You're right, removing the `git add -A` line fixes it, and the patch is created correctly. I have created a PR for it: #23.

[2020-10-28 11:59] serundeputy commented on #22
Thanks @gitressa !

This is merged into `8.x` and `9.x`.

[2020-10-28 11:59] #22 closed, assigned to nobody

[2020-10-28 12:09] gitressa commented on #22
Cool, thanks @serundeputy!

[2020-10-28 22:51] gitressa commented on #16
I have opened a Merge Request which updates PHPUnit for Drupal 9 in #24.

[2020-10-29 18:54] gitressa opened #25 "9.x can't find Drush"
`8.x` works fine, but it seems like Drush isn't getting installed in `9.x` ... To recreate, simply download and install `9.x` branch (the default), and see that these errors are shown, after running `lando rebuild -y`:

[code]
Lando version: `v3.0.17`

[2020-10-29 19:09] serundeputy commented on #25
thanks for reporting @gitressa

I just spun up a `9.x` project and it worked fine.

[code]

[2020-10-29 19:15] serundeputy commented on #16
thanks @gitressa I've merged it into `9.x`

[2020-10-29 19:15] #16 closed, assigned to gitressa

[2020-10-29 19:52] gitressa commented on #16
Thanks @serundeputy.

[2020-10-29 20:07] gitressa commented on #25
Thanks for fast feedback. Let me share my OS, docker, etc. versions as well:
[code]
Here is the complete output, perhaps you can do a diff with your result, and see if there are any interesting differences?

[code]

[2020-11-01 22:00] gitressa commented on #25
It also happens if I switch to `9.0.x` in `config/drupal-branch.php`. In stead of `10.x-dev`, Drush `10.3.5` is installed:
`  - Installing drush/drush (10.3.5): Extracting archive`

I get this message if I try to run Drush:
[code]
Using the full path I get a result:
[code]

Could this happen because I don't have the [Drush Launcher](https://github.com/drush-ops/drush-launcher) installed on my mach

[2020-11-02 13:13] serundeputy commented on #25
No. All the things needed for drush and drupal are in the Lando containers.  For example: I do not even have php installed on my machine.

[2020-11-02 21:31] gitressa commented on #25
Thanks for getting back to me, so we can rule out that as a factor. Do you have any suggestions on how to better debug, to get to the root of this problem? I just tried completely removing and re-installing Lando, with the same result ...

[2020-11-03 14:16] gitressa commented on #25
I had a look at the paths, and they look wrong, like Drush (or Lando) is using host machine paths, in stead of Docker paths:

**9.x, with host machine paths**
[code]

**8.x, with correct Docker paths**
[code]

[2020-11-08 10:37] gitressa commented on #25
Perhaps the path can be defined in the `scripts/rebuild.sh` file, so Lando knows where to look for Drush, with something like `PATH="$HOME/folder:$PATH"`?

[2020-12-02 10:59] gitressa commented on #25
Just updated to latest Lando, but still getting the Drush error.
[code]

[2021-01-15 17:17] smustgrave opened #26 "Should composer be used to download drupal?"
All drupal setups I've done so far I've used composer
composer create-project drupal/recommended-project my_site_name_dir
as a starting point.  I believe this is recommended from what I've read and it moves the vendor folder out of the web folder which is also recommended.

Thoughts?

[2021-01-15 22:25] serundeputy commented on #26
that is a best practice for developing a drupal site, but for this project we need the git tracked drupal source code to make changes, bug fixes, and features and submit them back to the drupal maintainers.

[2021-01-16 17:23] smustgrave commented on #26
Gotcha.  Thank you for explaining that to me!

[2021-01-16 17:23] #26 closed, assigned to nobody

[2021-01-16 23:14] smustgrave commented on #25
This is because drush was removed from the lando drupal 9 https://docs.lando.dev/config/drupal9.html#configuration

Opened up a PR if someone is free to review https://github.com/thinktandem/drupal-contributions/pull/27

[2021-01-17 10:47] gitressa commented on #25
Awesome work @smustgrave! Your update fixes the Drush issue, which I have stated in your PR.

[2021-01-17 13:35] serundeputy commented on #25
thanks @smustgrave !

thanks for reviewing @gitressa ... I've merged #27

[2021-01-17 13:35] #25 closed, assigned to nobody

[2021-01-17 16:21] gitressa opened #29 "lando destroy doesn't remove /web folder"
Previously, I could run `lando destroy`, `cd` up one level and delete the folder with `rm drupal-contributions/ -rf`, but it doesn't currently work:

[code]

[2021-01-17 18:19] serundeputy commented on #29
yeah; that is the weird permissions drupal has committed to the the files you have listed ... :shrug:

so you'd need `sudo rm drupal-contributions/ -rf`  .... i don't know why they/drupal puts the weird permissions on those files.

[2021-01-18 11:26] gitressa commented on #29
I would assume it's a question of hardening those important files? From a security perspective I guess it make sense :-) I have created a PR, which allows `lando destroy` to remove the web folder: #30.

[2021-01-18 12:52] serundeputy commented on #29
Thanks @gitressa I've merged your pr

[2021-01-18 12:52] #29 closed, assigned to nobody

[2021-01-18 13:08] gitressa commented on #29
Great, thanks @serundeputy!

[2021-01-18 13:21] gitressa opened #32 "Remove SimpleTest for Drupal 9?"
From the [Status page](https://drupal-contributions.lndo.site/admin/reports/status) of a Drupal 9 installation:

**Remanining tasks**
Remove SimpleTest related code in Drupal 9 branch:
https://github.com/thinktandem/drupal-contributions/search?q=SimpleTest

[2021-02-06 16:59] gitressa opened #34 "2 documentation PRs"
I created these two PRs a while ago ... perhaps I need to create an issue, to alert the admins in case they don't get notified about new PRs?
- #31
- #33

[2021-02-06 17:10] gitressa opened #35 "Can't test Composer-changing core patches"
It seems like patches for `composer.json` and `composer.lock` don't apply, probably because Drush is added during `lando rebuild` ... See for example [Export configuration YAML strings as multiline](https://www.drupal.org/project/drupal/issues/2844452) where the patch from [#64](https://www.drupal.org/project/drupal/issues/2844452#comment-13988908) doesn't apply.

Is it possible to somehow squeeze

[2021-02-07 11:09] gitressa commented on #35
... or perhaps `drupal-contributions` can check if a patch file is present, and if yes apply it during `lando rebuild -y` before, Drush is installed?

[2021-02-26 14:01] pyrello opened #37 "After 'lando rebuild -y' git status shows changes"
Hello. I've been trying out this tool and I notice that when I go to the `web` directory after `lando rebuild -y` and run `git status`, that I am seeing the following output:

[code]

If you are careful with running your git commands you can avoid any issues, but it also makes it more likely that someone (me) is going to make a mistake by running `git -am` at some point.

I'm just wondering if it

[2021-03-04 11:19] gitressa commented on #35
A patch like [Add new “Content Editor” role to Standard Profile](https://www.drupal.org/project/drupal/issues/3059984) (latest: [#24](https://www.drupal.org/project/drupal/issues/3059984#comment-13863067)) is also difficult to test, since the patch needs to be applied prior to installation.

[2021-03-25 18:08] serundeputy commented on #34
merged!

[2021-03-25 18:08] #34 closed, assigned to nobody

[2021-03-25 18:09] #17 closed, assigned to nobody

[2021-03-25 18:09] serundeputy commented on #32
seems like a good idea to me at least in the `9.x` branch

[2021-04-09 15:30] lokapujya opened #39 "Does pre-rebuild execute"
I wonder if pre-rebuild works. After doing a lando rebuild -y
pre-rebuild never executed and I am still not pulling from git.drupalcode.org.
~/Sites/d9 % git remote -v
origin	https://github.com/thinktandem/drupal-contributions.git (fetch)
origin	https://github.com/thinktandem/drupal-contributions.git (push)
If get-drupal.php executed, we would have the full Drupal repo with all branches. I guess t

[2021-04-09 15:44] serundeputy commented on #39
@lokapujya it works for me.

After you do a `lando rebuild -y` you should have the drupal source code in the `web` directory.

[2021-04-09 16:01] lokapujya commented on #39
can you confirm that the origin is git.drupalcode.org and not thinktandem?

[2021-04-09 16:08] serundeputy commented on #39
[code]

The git remote of the `app` is thinktandem (this repo). If you `cd web` the remote of that is git.drupalcode.org/project/drupal.git.

[2021-04-09 16:39] lokapujya commented on #39
I was checking the repo from the wrong directory.

[2021-04-09 16:39] #39 closed, assigned to nobody

[2021-04-12 16:10] gitressa commented on #37
It's because Drush is added with Composer and `composer run-script drupal-phpunit-upgrade` is run: https://github.com/thinktandem/drupal-contributions/blob/9.x/.lando.yml#L16

See also #35.

I have created a PR (#41) which removes `composer run-script drupal-phpunit-upgrade` in Drupal 9, since it is not necessary. If you remove Drush, Git is back at the starting point.

To try it out, pull down an

[2021-05-17 10:29] gitressa commented on #32
I have created #44.

[2021-05-18 13:27] gitressa commented on #32
The MR has been merged.

[2021-05-18 13:27] #32 closed, assigned to nobody

[2021-05-21 15:32] cdubz commented on #37
Although #41 was merged this still seems to be happening. I set up this project yesterday following the README instructions and still end up with those modifications --

[code]

[2021-05-21 18:45] gitressa commented on #37
The `composer run-script drupal-phpunit-upgrade` command added a lot of extra changes in `composer.json` and `composer.lock`, and #41 took care of that bit.

However, you still need to remove Drush as outlined above, to get to a clean Git status.

[2021-05-21 19:17] cdubz commented on #37
Got it. Thanks, @gitressa. That worked. 👍

[2021-05-22 10:58] gitressa commented on #37
Sounds good @cdubz, feel free to also check out #35, where the Git issue might get figured out -- or perhaps in this issue?

It would be great if Drush could get added, without touching the four `.json` and `.lock` files, I wonder if that's possible?

[2021-05-22 12:28] serundeputy commented on #37
@pyrello @gitressa @cdubz I didn't test this, but maybe here: https://github.com/thinktandem/drupal-contributions/blob/9.x/.lando.yml#L14

we could:

[code]

i think drush would still work and the git tree would be clean, but I did not test it.

[2021-06-07 04:39] darvanen opened #45 "Can't install required libraries"
`lando composer require aws/aws-sdk-php` installs the AWS SDK in the vendor folder outside web root as per normal, but the appserver container only mounts the web root.

This means I can't work on contrib modules like s3fs that have a dependency on a non-drupal library.

[2021-06-21 15:48] andrewGawg opened #46 "Why in drupal 9 brunch was removed test command ?"
In .lando.yml in branch 9.x was removed commands for testing custom patches...

[2021-06-21 15:49] #46 closed, assigned to nobody

[2021-06-21 15:50] andrewGawg commented on #46
sorry, I found the command 'phpunit'

[2021-08-21 16:50] smustgrave opened #47 "cross-env: not found"
First off thank you for such a tool! It really has helped me as a developer

I'm currently trying to run some drupal core tests using the nightwatch tool but keep getting

$ cross-env BABEL_ENV=development node -r dotenv-safe/config -r @babel/register ./node_modules/.bin/nightwatch --config ./tests/Drupal/Nightwatch/nightwatch.conf.js --tag core
/bin/sh: 1: cross-env: not found
error Command faile

[2021-08-21 16:55] smustgrave commented on #47
Sorry for the bad formatting.  Any help would be appreciated.

[2021-08-22 14:28] smustgrave commented on #47
Adding - cd /app/web/core && yarn install to the build as root section resolved this

[2021-08-22 14:36] smustgrave opened #48 "Does phpunit testing work for anyone else?"
Currently look to apply a patch to Drupal core.  But first I want to run a phpunit test on a single file.
1 It takes almost 30-45 minutes to run a single file does that seem correct?
2 Comes back with all errors even though I didn't make a change
3 No error messages

Example
6) Drupal\Tests\datetime\Functional\DateTimeFieldTest::testDateStorageSettings
PHPUnit\Framework\Exception: Xdebug: [Step De

[2021-09-19 13:46] ronaldmulero commented on #48
@smustgrave This works for me:
[code]

[2021-12-06 20:30] cabagach commented on #47
Thanks for sharing how you got it working, perhaps this issue can be closed?

[2021-12-06 20:42] smustgrave commented on #47
Sure

[2021-12-06 20:42] #47 closed, assigned to nobody

[2021-12-07 11:13] cabagach commented on #47
Thanks. And how about #48, did you get it working?

[2022-01-12 09:43] gitressa opened #52 "Add support for Drupal 10"
I just needed to install Drupal 10 ... so perhaps a `10.x` branch can be created here?

Since there are no fundamental changes between D9 and D10, the D9 branch for `lando/drupal-contributions` can easily be tweaked for D10, and when the [`drupal10` Lando recipe](https://github.com/lando/drupal/issues/4) is ready, we can update it. See also #5.

- [x] Create `10.x` branch and adjust versions
- [x]

[2022-02-14 11:14] joshua1234511 commented on #52
Created a branch based of 9.x. no major changes.
https://github.com/joshua1234511/drupal-contributions/tree/10.x

Using Drupal10 recipe https://docs.lando.dev/config/drupal10.html

Known Issues

WARN ==> drupal10 is not a supported recipe type.
- Update lando to latest avaliabel https://github.com/lando/lando/tags

[2022-03-08 14:28] labboy0276 commented on #52
@joshua1234511 We added Drupal 10 support in the [3.6.2 pre-release](https://github.com/lando/lando/releases/tag/v3.6.2)

Please make sure that your on at least that version.

[2022-03-08 14:31] gitressa commented on #52
@labboy0276 Please note that this issue is about creating a `10.x` branch for this project, so it's not solved yet.

[2022-03-08 14:41] labboy0276 commented on #52
oh ok

[2022-03-08 14:55] gitressa commented on #52
I am not sure how exactly it is supposed to be done, but basically just a clone of `9.x` called `10.x`, if that's possible?

And then tweak `10.x` branch, as described in the Issue Summary, or see #11.

[2022-03-08 15:44] serundeputy commented on #52
yes; @gitressa #11 is how to do it.

@labboy0276 can you create a `10.x` branch for this repo and set it as the default branch please?
Then @gitressa file your PR against the `10.x` branch.

[2022-03-09 14:23] labboy0276 commented on #52
@gitressa @serundeputy the 10.x branch is ready to go: https://github.com/lando/drupal-contributions/tree/10.x

I didnt make it the default branch since D9 is still the current version and stuff.

[2022-03-09 15:38] cdubz commented on #52
Thanks, @labboy0276.

I just gave the 10.x branch and got a couple of errors during the build and end up with a non-functional build (404 Not Found errors going to the provided URLS). Full log of `lando rebuild -y` output is attached and potentially relevant failure stuff below. Seems the container I/O got unhappy during `yarn install`? I'll give it another try as well.

[code]

[dc10-lando-rebuil

[2022-03-09 15:49] gitressa commented on #52
Thanks @labboy0276 for making the branch and adjusting versions. I agree that it makes sense to wait a bit with making `10.x` the default.

I have also been seeing similar issues while testing the Drupal 10 recipe: After Lando says "Your app has started up correctly. Here are some vitals:" and I run a Drush command, it sometimes fail (I forget the error message). If you wait a few seconds and issu

[2022-03-09 16:00] labboy0276 commented on #52
I can take a look a little later.  I got everything to install ok, I didnt test much further than that.

[2022-03-09 19:07] gitressa commented on #52
This new `10.x` branch actually looks fine to me. The installation completes and I can run `phpunit` tests.

There are two minor issues, I don't know how important they are:

**Yarn warning**
[code]
**Composer warnings**
I get a lot of [Composer Deprecation Notices](https://github.com/symfony/symfony/issues/45395) such as `Return type of Composer\DependencyResolver\RuleSetIterator::current()` whic

[2022-03-09 19:11] gitressa commented on #52
@cdubz Perhaps you can share your environment?

[code]

[2022-03-09 19:13] cdubz commented on #52
I'll give it another go a little later today. Dealing with work production deployments ATM (:

I'm using Lando 3.6.2 on macOS and my guess is that my first attempt just choked Docker... as happens sometimes on macOS. Hopefully next go around will be successful for me as well.

[2022-03-09 19:13] labboy0276 commented on #52
@gitressa my 10.x branch is on the latest version of composer.  All php 7.4+ image should be by default:

[code]

[2022-03-09 19:20] gitressa commented on #52
@cdubz Ah yes, macOS can be challenged performance-wise with Docker ...

This nugget, which purges all Docker containers and Lando cache was just shared by @generalredneck in https://gist.github.com/labboy0276/4406db072f9ed3bf3641f57c1d902027 and added by @labboy0276, if you ever feel like a fresh start: https://docs.lando.dev/help/purging-containers.html#purging-command

[2022-03-09 19:32] gitressa commented on #52
@labboy0276 It's strange I am getting `2.2.6` in `drupal10` recipe and  `2.0.7` in `drupal-contributions`:

**drupal10**
[code]
**drupal-contributions**
[code]
Maybe I should try the [Purging command](https://docs.lando.dev/help/purging-containers.html#purging-command) for a fresh start  ...

[2022-03-09 19:56] gitressa commented on #52
So I removed everything with the Purging command, and even deleted the `~/.lando` folder for completeness, still getting the same result ...

What's interesting is that during both installations, it looks like Composer `2.0.7` is installed. This bit flashes by:

[code]
@labboy0276 I note that you write `7.4`, but isn't PHP at `8.1` in  the `drupal10` recipe?

[code]

PS. The [Drush issue](https://

[2022-03-09 20:24] labboy0276 commented on #52
yeah not sure, it install 2.2.6 on my end within the drupal-contrib repo.

[2022-03-09 20:42] cdubz commented on #52
Second go at install was a success 🎉

I do also have Composer 2.0.7 and PHP 8.1.3 --

[code]

[2022-03-09 20:58] cdubz commented on #52
Setting a `.lando.local.yml` file with --

[code]

gets me the latest Composer version (2.2.7). Hm...

[2022-03-10 09:40] gitressa commented on #52
@cdubz Interesting 🤔

Like I wrote, this flashes by during install of both **drupal-contributions** and a singular `drupal10` recipe, which is weird, right?
[code]

Also, I get this:

**drupal-contributions** (Composer `2.0.7`)
[code]

**`drupal10` recipe** (Composer `2.2.6`)
[code]

So two questions:

1. Why is Composer `2.0.7` added in `/usr/local/bin/composer` with the `drupal10` recipe?
2. Why

[2022-03-10 12:15] generalredneck commented on #52
I can answer why that happens. Drupal requires composer/composer in drupal/core-dev. Lando has /app/vendor/bin as the first path in $PATH. So the version in /app/vendor/bin downloaded by installing Drupal is overloading the one in /usr/local/bin/composer. My work around before was to remove the drupal/core-dev package.

[2022-03-10 12:51] labboy0276 commented on #52
@gitressa Lando installs composer in the [php container](https://github.com/lando/php/blob/main/images/8.1-fpm/Dockerfile#L73).  As @generalredneck pointed out, my guess is the funkiness is due to something within this repo or Drupal installing something not the best way via composer.  However, I am still getting the right composer version on my end:

[code]

I don't see the `drupal/core-dev` pack

[2022-03-10 14:53] generalredneck commented on #52
running `lando composer why composer/composer` may show you where it's coming from.

[2022-03-10 15:25] generalredneck commented on #52
I think I can explain this...The lamp recipie's default configuration shows composer 2.0.7 You can see that here: https://github.com/lando/lamp/blob/9524d6e78a8f42a224c2fe3078b2c5cc6d74c545/docs/config.md#L16

That trickles down into this recipe. (correct me if I'm wrong), but since drupal-contributions does a get-drupal it does a composer install on the composer file inside /app/web. composer/cco

[2022-03-10 15:30] labboy0276 commented on #52
@generalredneck that doc is out of date.  The LAMP/LEMP recipes install the composer that is defined in the php images for that version.

[2022-03-10 15:32] generalredneck commented on #52
I can confirm though that with the .lando.yml provided in this project, on lando 3.6.2 I'm getting composer 2.0.7 though by default...

[2022-03-10 15:33] gitressa commented on #52
This is the PR for `lando/php` where Composer was recently updated from `2.0.7` to `2.2.6`:
https://github.com/lando/php/pull/25/files

Still, where does Composer `2.0.7` come from in the first place?

[2022-03-10 15:39] generalredneck commented on #52
[code]

[2022-03-10 15:40] labboy0276 commented on #52
My guess is your images are old.  I am not seeing them on my local.

[2022-03-10 15:44] generalredneck commented on #52
Burned docker to the ground and cleared lando cache running the documentation we talked about yesterday and still getting composer 2.0.7

[2022-03-10 15:45] labboy0276 commented on #52
and you are version 3.6.2 of Lando?

[2022-03-10 15:47] labboy0276 commented on #52
Hmm I dont think the latest php stuff got into 3.6.2.  It is earmarked for 3.6.3

If you run from source do you still have the same issues?

[2022-03-10 15:50] generalredneck commented on #52
so yeah lando 3.6.2. and composer 2.0.7. But at least now we know that's where it came from and at least for me I've shared my knowledge on why on a normal drupal 10 recipe install using composer you get composer out of /app/vendor/bin...

I don't know where this all fits into documentation though... as I think that's literally the next logical step.

[2022-03-10 16:02] labboy0276 commented on #52
yeah so my bad @generalredneck @gitressa I run Lando from source.  The issue lies here: https://github.com/lando/php/pull/25/files#diff-8f3653a6dff688ba1460548a7abc453cb3cb60ddd3848a22ee2ac73b8b8769b9L113

Our images are already on 2.2.6 while the php service in Lando 3.6.2 still runs with 2.0.7 in the 0.5.1 version of the php plugin.  The 0.5.2 has the right hotness and that will be in Lando 3.6.

[2022-03-10 17:55] gitressa commented on #52
Ah, good to get this cleared up, I'm looking forward to Lando 3.6.3.

[2022-03-14 22:24] gitressa opened #55 "Nightwatch fails: Error connecting to chrome on port 9515"
This happens in both `9.x` (Note: First do #54) and `10.x`:

[code]

[2022-03-14 22:29] gitressa commented on #48
It works well for me as well:

[code]

[code]

PS. Thanks  @ronaldmulero, I have been looking for a fast test, so thanks for making me aware of `PasswordHashingTest` :)

[2022-04-15 12:04] gitressa commented on #55
This was fixed in #56, and Nightwatch now works, thanks @murilohpucci :+1:

[code]

[2022-04-15 12:04] #55 closed, assigned to nobody

[2022-04-15 12:25] gitressa opened #59 "Run commit-code-check.sh via Lando?"
Something strange was happening. It looked like Lando `Node.js` was at `v16.x`, but the `commit-code-check.sh` found `v14.x` ...

[code]

**commit-code-check.sh**
[code]

It turned out I had the older `node-less` package  installed on my Ubuntu 20.04. Removing it and installing `Node.js v16.x` via the official channels below fixed it:
- https://nodejs.org/en/download/package-manager/#debian-and-ub

[2022-04-15 15:14] murilohpucci commented on #37
I've recently opened a MR with your solution @serundeputy, testing here it looks like it fixes, it would be nice to have a review there. #58

[2022-04-20 12:13] gitressa commented on #52
Thanks for releasing Lando 3.6.4, the Drupal 10 recipe works well, and the PHP image installs PHP 8.1.4 and Composer 2.2.12.

As a side note, Composer is updated to 2.3.5 during `composer create-project`, due to `drupal/core-dev`:
[code]

**Composer 2.3.5 required on `drupal/core-dev`**
[code]

The remaining tasks for Drupal 10 support (see Issue Summary) are to update versions and patch examples

[2022-04-20 12:30] labboy0276 commented on #52
@gitressa what happens if you set the `composer_version` to `2-latest` or `'2.3.5'` in the `.lando.yml` for the d10 recipe?

[2022-04-20 12:40] gitressa commented on #52
With `composer_version` set to `2-latest` I get `2.3.5` natively in Lando:
[code]

I can stick to `2.2.12` by installing latest `alpha`, which is without `drupal/core-dev`
[code]

[2022-04-23 10:09] gitressa opened #62 "Update Test a Contrib Module Patch example in README.md file for Drupal 10"
Find a relevant contrib module patch for Drupal 10 and update [Test a Contrib Module Patch](https://github.com/lando/drupal-contributions/tree/10.x#test-a-contrib-module-patch) example in `README.md` file.

[2022-04-25 13:29] gitressa commented on #52
With the last MR's getting merged, last outstanding `10.x` task is #62 which can be taken care of in its own time, so this issue is fixed.

[2022-04-25 13:29] #52 closed, assigned to nobody

[2022-04-25 14:25] generalredneck commented on #62
May I make a suggestion?

Why not create an issue to the [Examples for Developers](https://www.drupal.org/project/issues/examples?categories=1) module. Open it.. add the patch... close it... It doesn't have to be anything spectacular... but it would definitely show how patches work and it would be forever in the issue queue! You could do it both with a MR and a patch file.

If yall are cool with t

[2022-04-25 14:44] gitressa commented on #62
That's an excellent idea!

[2022-05-01 19:27] smustgrave opened #63 "Phpunit Functional Javascript files not running"
I'm trying to run on a single test file but I get this

Stephens-MacBook-Pro:web $:lando phpunit core/modules/layout_builder/tests/src/FunctionalJavascript/BlockFilterTest.php
PHPUnit 8.5.21 by Sebastian Bergmann and contributors.

Testing Drupal\Tests\layout_builder\FunctionalJavascript\BlockFilterTest
S                                                                   1 / 1 (100%)

Time: 1.61 mi

[2022-05-12 18:23] smustgrave opened #67 "rebuild.sh fails on first run"
During lando rebuild I get this consistently

usermod: no changes
usermod: no changes
/bin/sh: 1: /app/scripts/rebuild.sh: not found
ERROR ==> /bin/sh: 1: /app/scripts/rebuild.sh: not found

[2022-05-28 01:55] smustgrave commented on #63
Found out it's only javascript files not working.

[2022-05-28 14:12] smustgrave commented on #48
closing for https://github.com/lando/drupal-contributions/issues/63

[2022-05-28 14:12] #48 closed, assigned to nobody

[2022-06-07 05:48] jacarvajal opened #68 "PHP8 not working properly with Drupal9 recipe"
Hi!

I've tried to install a new development environment with Drupal 9, so I used the recipe to do so. I realised that the default PHP version is 7.3.29 and decided to upgrade it to PHP8 in the .lando.yml file this way:

`name: d9
recipe: drupal9
config:
  webroot: web
  php: '8.1'
`

And the output is always: "ERROR ==> php version 8.1 is not supported".

I've tested with single/double quotes and

[2022-06-07 11:47] gitressa commented on #68
I get PHP 8.1 with this:

`lando init --recipe drupal9 --name drupal9 --source cwd --webroot web php --option php='8.1'`

**_.lando.yml_ content**
[code]

**PHP version**
[code]

What is your OS and Lando version?

[2022-06-07 11:54] gitressa commented on #68
The above is for testing with a plain vanilla Drupal 9, but if I manually update _/drupal-contributions/.lando.yml_ to this before `lando rebuild -y`, it works equally well:
[code]

**PHP version**
[code]

[2022-06-07 11:59] gitressa commented on #68
I get PHP 8.0 with the default installation ...

[code]

**Verifying Lando PHP version**
[code]

[2022-06-07 17:34] jacarvajal commented on #68
Oops, my fault, sorry for bothering you.
I realised with your comment that my Lando version was outdated. I thought it was automatically updated with Ubuntu updates, but it wasn't.

My old version was 3.0.14, once I updated to 3.6.5 everything worked perfectly and PHP8.0 was the default version for D9 recipe.

Thank you for your help!

[2022-06-07 17:34] #68 closed, assigned to nobody

[2022-06-07 17:35] gitressa commented on #68
Awesome, I am glad to help and that you got it working!

[2022-06-18 14:10] blue928 commented on #52
I've read through the thread and don't understand why this issue is closed.
If this is fixed, can someone please provide comprehensive steps to install Drupal 10? The documentation page is not correct, and a lot of people may be ending up on this top google search for answers.

For me, it's still a problem.

Here are the steps:

1) Install 3.6.4, released on 4/19/2022
2) visit the documentation pa

[2022-06-18 14:34] gitressa commented on #52
Please note that this is the [Lando + Drupal Contributions](https://github.com/lando/drupal-contributions) repository:

[lando/drupal](https://github.com/lando/drupal/) is probably where you want to open a new issue.

[2022-07-15 21:34] gitressa opened #69 "Drupal 10 requires composer 2.3.6 or higher"
Since [Drupal 10 requires composer 2.3.6 or higher](https://www.drupal.org/docs/system-requirements/composer-requirements) the install fails.

Temporary fix is adding `composer_version: '2.3.8'` in `.lando.yml`:

[code]

[2022-07-15 22:02] gitressa opened #70 "PHPUnit Exception: InvalidCookieDomain, invalid cookie domain"
To recreate spin up a Drupal 10 instance, download the project_browser module and run the test:

[code]

[2022-07-22 14:18] murilohpucci opened #71 "Provide an option for debugging"
I've been using the drupal-contributions for a while, and it would be nice the xdebug enabled by default.

[2022-07-22 16:08] gitressa commented on #71
It's a great idea to add xdebug support.

But shouldn't it be off by default? From my understanding the performance can be affected by xdebug, and not everyone is using it ...

[2022-07-25 20:34] murilohpucci commented on #71
Hey @gitressa, thanks for the answer, and about the performance, you're right xdebug will affect the performance, so I've updated the PR, now by default the xdebug will begin disabled, and if you want to start debugging, you can run `lando xdebug-on`, and after the debug part ends just execute `lando xdebug-off` to disable xdebug.

[2022-07-25 22:44] gitressa commented on #71
Thanks for a quick update @murilohpucci, that'll work well. I tried installing and enabling xdebug (though I didn't use it) and Drupal still felt really fast, and pages loaded as normal.

Maybe xdebug performance was more a problem in the past, or perhaps PHPStorm or similar program should also be involved, to really drain the resources? Did you try bench-marking the performance by any chance, and

[2022-07-26 13:48] murilohpucci commented on #71
Hey, I haven't tried any benchmark tests, but AFAIK the performance will be affected by the xdebug extension, we're talking about maybe a few seconds of difference, but it exists. So IMO it's a good approach to disable the xdebug by default and allow a tooling command to enable it if the developer wants to.

FYI: There's a pretty good benchmark comparing both version 2 and 3 of xdebug available at

[2022-07-26 15:23] gitressa commented on #71
Thanks for sharing that link, it does look like big improvements between v2 and v3, impressive. But still probably best to keep it off until needed, to save resources, as we both agree.

[2022-08-25 07:23] xurizaemon commented on #67
This is because an earlier step has failed.

Setup:
[code]

Problem:
[code]

[2022-08-25 20:04] xurizaemon commented on #67
Based on my testing, it seems like a timing issue or a problem which appears on first run.

I suspect that the pre-rebuild hook is unable to execute before rebuild in a Lando environment which is not yet running.

Run 1:

[code]

Run 2:
[code]

Full run output: https://gist.github.com/xurizaemon/dfc5d55bddfbed7fc52f2dadafc059d1

Fork branch used here has an additional `pwd` and `ls` inserted to sh

[2022-08-25 20:16] smustgrave commented on #67
Sure no problem!

[2022-08-25 20:21] xurizaemon commented on #67
Oooh, I think this bug is complicated by that if you omit to run `lando stop` before removing the directory to test it doesn't show up (because the containers still exist)? Interesting.

Testing addition of a `pre-start` event.

Noting that the initial docs issue https://github.com/lando/drupal-contributions/issues/1 refers to rebuild not start (_Note that we are using rebuild and not the start co

[2022-08-25 20:38] xurizaemon commented on #67
OK, try this one:

[code]

Should work on first and subsequent runs. Note that you should stop/destroy your container before wiping the directory :)

Output for first and second run: https://gist.github.com/xurizaemon/f3815ca1779253bebb920c4ccb8d9d73

[2022-09-15 16:26] nerdstein commented on #69
+1 to this - experienced the same

[2022-10-08 03:08] naveenvalecha commented on #70
Encountered with same issue today. Is there any workaround for it?
I tried with drupal core 9.4.x and 9.5.x
This looks related https://github.com/lando/drupal-contributions/issues/63

[2022-11-06 18:25] gitressa commented on #67
I also have to run `lando rebuild` twice. Though my errors are different:

[code]

[2022-11-06 19:02] gitressa commented on #70
Note that `whitelisted-ips` should also be updated `allowed-ips`, thought it doesn't seem to help here ...

From [Running PHPUnit Javascript tests](https://www.drupal.org/docs/automated-testing/phpunit-in-drupal/running-phpunit-javascript-tests)

[2022-11-06 19:54] gitressa commented on #70
@naveenvalecha It looks like updating to @neclimdul's config from https://github.com/lando/lando/issues/3411 is the solution. Feel free to try the MR #76 (for Drupal 10) if it also works for Drupal 9.

[2022-11-06 20:02] gitressa commented on #70
My example in the original Issue summary, which now completes without errors:

[code]

[2022-11-07 10:30] gitressa commented on #55
I just saw the Drupal 10.0.x-dev issue [Remove Chromedriver as a JavaScript dependency](https://www.drupal.org/project/drupal/issues/3317879), I am not sure if it affects https://github.com/lando/drupal-contributions/ and the Nightwatch configuration needs to be updated?

See also the Change record [Chromedriver has been removed as a JavaScript dependency](https://www.drupal.org/node/3319135).

[2022-11-18 12:19] DuaelFr commented on #69
I think we could safely consider using `composer_version: 2-latest` do avoid having to change it later.

[2022-11-18 13:42] gitressa commented on #69
That's a great suggestion @DuaelFr, which would save us from recurring updates.